body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('back.png');
    background-size: cover; /* Изображение будет растянуто на весь экран */
    background-position: center; /* Центрирование изображения */
    background-repeat: no-repeat; /* Изображение не будет повторяться */
    margin: 0; /* Убираем отступы по умолчанию */
    padding: 0; /* Убираем внутренние отступы по умолчанию */
    height: 100vh; /* Высота на весь экран */
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select {
    width: calc(100% - 22px); /* Учитываем padding и border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Учитываем padding и border в ширине */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    margin: 0 10px;
    text-decoration: none; /* Убираем подчеркивание */
    color: #007BFF; /* Цвет текста ссылок */
}

.links a:hover {
    color: #0056b3; /* Цвет текста при наведении */
}
